name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          ref: main  # Specify the branch or tag to checkout

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'  # Specify your Python version

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then
            pip install -r requirements.txt
          else
            echo "requirements.txt not found. Skipping installation of dependencies."
          fi

      - name: Deploy to Google Cloud
        env:
          FIREBASE_ADMIN_CLIENT_EMAIL: ${{ secrets.FIREBASE_ADMIN_CLIENT_EMAIL }}
          FIREBASE_ADMIN_PRIVATE_KEY: ${{ secrets.FIREBASE_ADMIN_PRIVATE_KEY }}
          FIREBASE_ADMIN_PROJECT_ID: ${{ secrets.FIREBASE_ADMIN_PROJECT_ID }}
        run: |
          if [ -f key.pem ]; then
            rm key.pem  # Remove existing key.pem file if present
          fi
          echo "$PRIVATE_KEY" | tr -d '\r' > key.pem
          gcloud auth activate-service-account --key-file=key.pem --account="${FIREBASE_ADMIN_CLIENT_EMAIL}"
          # Additional deployment steps using Google Cloud SDK

      # Cleanup temporary files
      - name: Cleanup
        run: |
          rm key.pem
