name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          ref: main  # Specify the branch or tag to checkout

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'  # Specify your Python version

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then
            pip install -r requirements.txt
          else
            echo "requirements.txt not found. Skipping installation of dependencies."
          fi

      - name: Generate Service Account Key File
        run: |
          echo "${{ secrets.FIREBASE_ADMIN_PRIVATE_KEY }}" | base64 -d > service-account-key.json

      - name: Set Google Application Credentials
        run: |
          echo "GOOGLE_APPLICATION_CREDENTIALS=${{ github.workspace }}/service-account-key.json" >> $GITHUB_ENV

      - name: Deploy to Google Cloud
        env:
          GOOGLE_APPLICATION_CREDENTIALS: ${{ github.workspace }}/service-account-key.json
        run: |
          gcloud auth activate-service-account --key-file=${GOOGLE_APPLICATION_CREDENTIALS}
          # Additional deployment steps using Google Cloud SDK

      # Cleanup temporary files.
      - name: Cleanup
        run: |
          rm service-account-key.json
